@import "normalize.css";
@import "reset.min.css";
@import "iconfont.css";
/*:root ->获取根元素html*/
:root {
  --color-text: #666;
  --color-high-text: #ff5777;
  --color-tint: #ff8189;
  --color-backgournd: #fff;
  --font-size: 14px;
  --line-height: 1.5;
}

::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingDang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "微软雅黑", Arial;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: var(--color-backgournd);
  color: var(--color-text);
  width: 100vw;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

html, body {
  height: 100%;
  width: 100%;
}
